<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canInternetEnable</key>
	<array>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
	</array>
	<key>descriptions</key>
	<array>
		<string>UDIF_Compressed</string>
		<string>SPARSE</string>
		<string>UDIF_R/W</string>
		<string>UDIF_R_Only</string>
		<string>NDIF_Compressed</string>
		<string>NDIF_R_Only</string>
	</array>
	<key>extensions</key>
	<array>
		<string>dmg</string>
		<string>sparseimage</string>
		<string>dmg</string>
		<string>dmg</string>
		<string>img</string>
		<string>img</string>
	</array>
	<key>formatIDs</key>
	<array>
		<string>UDZO</string>
		<string>UDSP</string>
		<string>UDRW</string>
		<string>UDRO</string>
		<string>ROCo</string>
		<string>Rdxx</string>
	</array>
	<key>needConversion</key>
	<array>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
	</array>
</dict>
</plist>
