<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>anything</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DMGDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QuickDMG</string>
	<key>CFBundleGetInfoString</key>
	<string>2.3.1b copyright 2005-2013, Tetsuro KURITA</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2005-2013, Tetsuro KURITA</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.1</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>CFBundleHelpBookFolder</key>
	<string>QuickDMGHelp</string>
	<key>CFBundleIconFile</key>
	<string>QuickDMG</string>
	<key>CFBundleIdentifier</key>
	<string>QuickDMG</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuickDMG</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Create Disk Image</string>
			</dict>
			<key>NSMessage</key>
			<string>createDmgFromPasteboard</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
				<string>public.folder</string>
				<string>public.symlink</string>
				<string>com.apple.alias-file</string>
			</array>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSPortName</key>
			<string>QuickDMGService</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Expand Disk Image</string>
			</dict>
			<key>NSMessage</key>
			<string>expandDmgFromPasteboard</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.apple.disk-image</string>
			</array>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSPortName</key>
			<string>QuickDMGService</string>
		</dict>
	</array>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://www.script-factory.net/appcast/QuickDMG.xml</string>
</dict>
</plist>
